:root {
  --white: #fff;
  --platinum: #c8c9c7;
  --aurum: #ad7c59;
  --black: #2c2a29;
  --ruby: #8a2a2b;
  --sapphirus: #003865;
  --margaritas: #b7a99a;
  --topaz: #54585a;
  --amber: #b15533;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1eeeb;
}

img {
  max-width: 100%;
}

.input-block,
.select-block,
.textarea-block,
.aurus-multiselect {
  display: grid;
  row-gap: 7px;
}

.input-block__label,
.textarea-block__label,
.aurus-multiselect__title {
  color: var(--platinum);
  display: block;
  line-height: initial;
  margin-bottom: 0;
}

.select-block__label {
  color: var(--platinum);
  display: block;
  line-height: initial;
  margin-bottom: 0;
  user-select: none;
}

.input-block_white label,
.textarea-block_white label,
.aurus-multiselect_white .aurus-multiselect__title,
.select-block_white .select-block__label {
  color: var(--topaz);
}

.aurus-multiselect .multiselect__placeholder {
  font-size: 1rem;
}

.aurus-multiselect .multiselect__tags {
  border-color: #ddd;
  transition: all 0.3s ease-in-out;
  padding: 10px 40px 0 8px;
  min-height: 46px;
}

.aurus-multiselect .multiselect__tags:hover {
  border-color: var(--margaritas);
}

.aurus-multiselect .multiselect--active .multiselect__tags,
.aurus-multiselect .multiselect--above .multiselect__content-wrapper {
  border-color: var(--aurum);
}

.aurus-multiselect .multiselect__content-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.aurus-multiselect .multiselect__content-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--amber);
  border-radius: 10px;
}

.aurus-multiselect .multiselect__option--highlight,
.aurus-multiselect .multiselect__option--highlight::after {
  background: var(--aurum);
}

.aurus-multiselect .multiselect__option--selected.multiselect__option--highlight,
.aurus-multiselect .multiselect__option--selected.multiselect__option--highlight::after {
  background-color: var(--ruby);
}

.aurus-multiselect .multiselect__tag {
  background-color: var(--aurum);
  padding: 6px 26px 5px 10px;
}

.aurus-multiselect .multiselect__tag-icon:after {
  color: #fff;
}

.aurus-multiselect .multiselect__tag-icon:focus,
.aurus-multiselect .multiselect__tag-icon:hover {
  background: var(--aurum);
}

.aurus-multiselect .multiselect__option--selected {
  background-color: #f1eeeb;
  font-weight: normal;
}

.textarea-block__textarea {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px 6px;
  color: var(--topaz);
  transition: border-color 0.3s ease-in-out;
}

.textarea-block__textarea:hover {
  border-color: var(--margaritas);
}

.textarea-block__textarea:focus {
  outline: none;
  border-color: var(--aurum);
}

.input-block__input {
  border-radius: 3px;
  border: 1px solid var(--platinum);
  background-color: #333333;
  color: #fff;
  width: 100%;
  padding: 10px 6px;
  transition: border-color 0.3s ease-in-out;
}

.input-block__input_white {
  border-color: #dddddd;
  background-color: #fff;
  color: var(--topaz);
}

.select-block__select {
  min-height: 46px;
  border-color: var(--platinum);
}

.select-block__select_white {
  border-color: #dddddd;
}

.input-block__input_white::placeholder {
  color: var(--platinum);
}

.input-block__input_table {
  padding: 5px 6px;
}

.input-block__input:hover,
.select-block .select-block__select:hover {
  border-color: var(--margaritas);
}

.input-block__input:focus {
  outline: none;
  border-color: var(--aurum);
}

.input-block__label_error {
  display: flex;
  justify-content: space-between;
}

.input-block__input_error {
  border-color: var(--amber);
}

.switch-block__label {
  color: var(--topaz);
  display: block;
  line-height: initial;
  margin-bottom: 0;
  user-select: none;
}

.select-block__select:focus {
  box-shadow: none;
  border-color: var(--aurum);
}

.switch-block {
  align-items: center;
}

.switch-block__input {
  display: none;
}

.switch-block__label {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.switch-block .switch-block__label::before,
.switch-block .switch-block__label::after {
  top: initial;
}

.switch-block .switch-block__label::after {
  width: 12px;
  height: 12px;
  left: -1.95rem;
}

.switch-block .switch-block__label::before {
  width: 35px;
  height: 20px;
  border-radius: 25px;
}

.switch-block .switch-block__input:checked~.switch-block__label::after {
  background-color: #fff;
  transform: translateX(calc(100% + 3px));
}

.switch-block .switch-block__input:not(:disabled):active~.switch-block__label::after {
  background-color: #fff;
  opacity: 0.7;
}

.switch-block .switch-block__input:not(:disabled):active~.switch-block__label::before {
  background-color: var(--platinum);
  border-color: var(--platinum);
}

.switch-block .switch-block__input:checked~.switch-block__label::before {
  border-color: var(--aurum);
  background-color: var(--aurum);
}

.aurus-custom-control .custom-control-label {
  color: var(--margaritas);
}

.aurus-custom-control .custom-control-label::before,
.aurus-custom-control .custom-control-label::after {
  width: 17px;
  height: 17px;
}

.aurus-custom-control .custom-control-label::before {
  border-color: var(--margaritas);
}

.aurus-custom-control_platinum .custom-control-label::before {
  border-color: var(--platinum);
}

.aurus-custom-control_platinum:hover .custom-control-label::before {
  border-color: var(--aurum);
}

.aurus-custom-control .custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: var(--margaritas);
  border-color: var(--margaritas);
}

.aurus-custom-control .custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: var(--margaritas);
  box-shadow: none;
}

.aurus-custom-control .custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.aurus-custom-control .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--aurum);
  background-color: var(--aurum);
}

.aurus-custom-control_white .custom-control-label {
  color: var(--topaz)
}

.aurus-button {
  font-weight: 500;
  width: fit-content;
  justify-self: center;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.aurus-button:focus {
  box-shadow: none
}

.aurus-button_lowercase {
  text-transform: initial;
}

.aurus-button:disabled {
  cursor: default;
  pointer-events: none;
}

.aurus-button_line {
  border-color: var(--aurum);
  color: var(--black);
}

.aurus-button_event:hover {
  background-color: var(--margaritas);
  color: #fff;
}

.aurus-button_event,
.aurus-button_event:active {
  background-color: var(--aurum);
  color: #fff;
}

.aurus-button_grayline {
  color: var(--black);
  border-color: var(--topaz);
}

.aurus-button_grayline:hover {
  color: var(--aurum);
  border-color: var(--aurum);
}


.aurus-button_line:hover {
  color: var(--aurum);
}

.aurus-button_line:active,
.aurus-button_grayline:active {
  border-color: #9d6d4c;
  color: #9d6d4c;
  box-shadow: none;
}

.aurus-button_filled_white-color {
  color: #fff;
}

.aurus-button_danger {
  border-color: var(--ruby);
  color: var(--ruby);
}

.aurus-button_danger:hover {
  border-color: #dc3545;
  color: #dc3545;
}

.error-text {
  color: var(--amber);
}

.aurus-modal .modal-dialog {
  max-width: fit-content !important;
}

.aurus-modal .modal-body {
  padding: 0;
}

.aurus-modal .modal-content {
  border-radius: 3px;
  padding: 50px 125px;
  border-top: 4px solid var(--amber);
  box-shadow: 0 0 8px #00000059;
}

.aurus-modal .modal-header {
  justify-content: center;
  padding: 0;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.aurus-modal .modal-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--aurum);
}

.aurus-modal .modal-footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 20px;
  padding: 0;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.aurus-modal__body {
  padding: 40px 0;
  display: grid;
  row-gap: 16px;
}
